__pycache__/
*.pyc
.env
.env.*
.venv/
.cache/
.mypy_cache/
ruff_cache/
.pytest_cache/
/.idea/
/.vscode/
/uploads/
/raw_files/
/processed_files/
/uploaded_files/
rfp_analyzer.egg-info/
data/source_pdfs/
=0.0.7
=2.3.0
=3.0.1
=4.44.2
